*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family, sans-serif);
  background-color: var(--bg-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  font-size: 18px;
  text-decoration: none;
  color: var(--black-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.hidden {
  display: none;
}

.hidden-img {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @media (width <= 1152px) {
    padding: 0 24px;
  }

  @media (width <= 788px) {
    padding: 0 16px;
  }
}

.gradient {
  background: radial-gradient(circle, rgb(110, 21, 155, 0.1) 0%, rgba(30, 30, 30,) 100%);
}
