.portfolio {
  position: relative;
  display: none;
  padding-bottom: 50px;

  &__top {
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    align-items: center;
  }

  &__avatar {
    display: block;
    margin-right: 20px;
    border: 1px solid var(--green-color);
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 60px;
    color: var(--white-color);
  }

  &__btn {
    border-radius: 10px;
    max-height: 47px;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--sharring {
      border: 1px solid var(--green-color);
      padding: 10px 32px;
      color: var(--white-color);
    }

    &--manage {
      border: 1px solid var(--green-color);
      padding: 10px 32px;
      color: var(--white-color);
    }

    &--add {
      padding: 16px 32px;
      color: var(--white-color);
      background-color: var(--green-color);
    }

    &-sharring-svg, &-manage-svg {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    &-sharring-contetn, &-manage-contetn {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    padding-top: 50px;
  }

  &__current {
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__list {
    flex-grow: 1;
    border-radius: 10px;
    padding: 15px;
    max-width: 23%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
  }

  &__item {
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:not(:first-child) {
      align-items: center;
      min-height: 21px;
    }

    &-block {
      flex-direction: column;
    }

    &-balance {
      color: var(--gray-color);
    }

    &-dropdown {
      display: flex;
      align-items: center;
      border: 1px solid var(--white-color);
      border-radius: 6px;
      padding: 5px 10px;
      font-size: 14px;
      color: var(--white-color);

      &-svg {
        margin-left: 10px;
        width: 16px;
        height: 16px;

        path {
          fill: var(--white-color);
        }
      }
    }

    &-descr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-price {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 28px;
      line-height: 15px;
      color: var(--white-color);
    }

    &-changes {
      display: flex;
      align-items: center;
    }

    &-procent {
      margin-right: 10px;
      border-radius: 3px;
      padding: 3px 6px;
      font-size: 12px;
      line-height: 15px;
      color: var(--white-color);
      background-color: #46a756;
    }

    &-total-procent {
      margin-right: 10px;
      border-radius: 3px;
      padding: 3px 6px;
      font-size: 12px;
      line-height: 15px;
      color: var(--white-color);
      background-color: #46a756;
    }

    &-income {
      line-height: 0;
      color: var(--white-color);
    }

    &-name {
      color: var(--gray-color);
    }

    &-total-income, &-realised-income, &-unrealised-income, &-invested-income {
      align-content: center;
      line-height: 0;
      color: var(--white-color);
    }
  }

  &__performance {
    flex-grow: 1;
    border-radius: 10px;
    padding: 15px;
    max-width: 23%;
    max-height: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);

    &-title {
      margin-bottom: 20px;
      min-height: 28px;
      color: var(--gray-color);
    }

    &-img {
      margin-right: 10px;
      width: 36px;
      height: 36px;
    }

    &-best, &-worst {
      align-items: center;
      margin-bottom: 20px;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-size: 14px;
      background-color: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(10px);
    }

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      &-content {
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
          margin-bottom: 5px;
        }

        &-name {
          color: var(--gray-color);
        }

        &-ticker {
          color: var(--white-color);
        }

        &-income {
          color: #46a756;

          &--red {
            color: #ae3434;
          }
        }

        &-procent {
          border-radius: 3px;
          padding: 3px 6px;
          font-size: 12px;
          line-height: 15px;
          color: var(--white-color);
          background-color: #46a756;

          &--green {
            background-color: #46a756;
          }

          &--red {
            background-color: #ae3434;
          }
        }
      }
    }
  }

  &__chart {
    border-radius: 10px;
    padding: 15px;
    width: 46%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);

    &-top {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      max-height: 28px;
    }

    &-title {
      color: var(--gray-color);
    }

    &-button-box {
      align-items: center;
      border-radius: 10px;
      padding: 5px 10px;
      width: 46%;
      max-width: fit-content;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(10px);
    }

    &-icon {
      display: flex;
      margin-right: 10px;
    }

    &-img {
      width: 24px;
      height: 24px;
      stroke: var(--white-color)
    }

    &-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &-btn {
      font-size: 14px;
      color: var(--gray-color);
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      max-height: 196px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: rgba(128, 128, 128, 0.1);
      background-color: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(10px);
    }
  }

  &__hold {
    flex-grow: 1;
    border-radius: 10px;
    padding: 15px;
    max-width: 23%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);

    &-top {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    &-title {
      color: var(--gray-color);
    }

    &-dropdown {
      display: flex;
      align-items: center;
      border: 1px solid var(--white-color);
      border-radius: 6px;
      padding: 5px 10px;
      font-size: 14px;
      color: var(--white-color);

      &-svg {
        margin-left: 10px;
        width: 16px;
        height: 16px;

        path {
          fill: var(--white-color);
        }
      }
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      border-radius: 10px;
      width: 266px;
      height: 266px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: rgba(128, 128, 128, 0.1);
      background-color: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(10px);
    }

    &-list {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }

    &-item {
      width: 90%;

      &:nth-child(odd) {
        grid-column: 1;
      }

      &:nth-child(even) {
        grid-column: 2;
      }
    }

    &-ticker-box {
      align-items: center;
    }

    &-ticker {
      color: var(--gray-color);
    }

    &-ticker-color {
      margin-right: 10px;
      border-radius: 50px;
      width: 10px;
      height: 10px;
      background-color: var(--bg-color);
    }

    &-procent {
      margin-left: auto;
      font-size: 12px;
      color: var(--white-color);
    }
  }

  &__watchlist {
    justify-content: space-between;
  }

  &__token {
    &-list {
      flex-direction: column;
    }

    &-item {
      border-top: 1px solid rgba(128, 128, 128, 0.3);
      border-bottom: 1px solid rgba(128, 128, 128, 0.3);
      padding: 15px 0;
      width: 100%;

      &:not(:first-child) {
        margin-top: -1px;
      }
    }

    &-top {
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
      min-height: 28px;
    }

    &-title {
      color: var(--gray-color);
    }

    &-top-container {
      border-radius: 10px;
      padding: 15px;
      width: 73%;
      max-height: fit-content;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(10px);
    }

    &-heading-list {
      justify-content: space-between;
      width: 100%;
    }

    &-heading-width {
      width: 20%;

      &:not(:first-child) {
        text-align: end;
      }
    }

    &-heading-subtitle {
      color: var(--gray-color);
    }

    &-image {
      margin-right: 10px;
      width: 36px;
      height: 36px;
    }

    &-container {
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-width {
      width: 20%;

      &:not(:first-child) {
        text-align: end;
      }
    }

    &-name-income {
      align-items: center;
      margin-bottom: 5px;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
    }

    &-name-descr {
      font-size: 12px;
      color: var(--gray-color);
    }

    &-price-income {
      margin-bottom: 5px;
      font-size: 14px;
      color: var(--white-color);
    }

    &-price-procent {
      font-size: 14px;
      color: #46a756;
    }

    &-total-income {
      font-size: 14px;
      color: var(--white-color);
    }

    &-profit-income {
      margin-bottom: 5px;
      font-size: 14px;
      color: var(--white-color);
    }

    &-profit-procent {
      font-size: 14px;
      color: #46a756;;
    }

    &-holdings-income {
      margin-bottom: 5px;
      font-size: 14px;
      color: var(--white-color);
    }

    &-holdings-token {
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }

  &__modal {
    position: absolute;
    left: calc(50% - 180px);
    top: 0;
    z-index: 100;
    display: none;
    border-radius: 10px;
    padding: 15px;
    width: 360px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);

    &-title {
      position: relative;
      margin-bottom: 20px;
      color: var(--white-color);
    }

    &-icon {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 24px;
      height: 24px;
      stroke: var(--white-color);
    }

    &-list {
      justify-content: space-between;
      margin-bottom: 20px;
      border-radius: 10px;
      padding: 2px;
      width: 100%;
      background-color: rgba(6, 179, 168, 0.1);
    }

    &-btn {
      border-radius: 10px;
      padding: 8px 32px;
      font-weight: 600;
      font-size: 15px;
      line-height: 15px;
      color: var(--white-color);
      background-color: var(--bg-color);

      &-bay {
        &.active-bay {
          background-color: var(--green-color);
          transition: all .3s ease-in-out;
        }
      }

      &-sell {
        &.active-sell {
          background-color: var(--green-color);
          transition: all .3s ease-in-out;
        }
      }
    }

    &-subtitle-box {
      margin-bottom: 20px;
      color: var(--gray-color);
    }

    &-amount-box, &-price-box, &-date-box {
      border-radius: 10px;
      background-color: rgba(6, 179, 168, 0.1);
    }

    &-amount-inp, &-price-inp, &-date-inp {
      border: none;
      padding: 10px;
      width: 100%;
      height: 35px;
      color: var(--white-color);
      background-color: transparent;


      &:focus {
        outline: none;
      }
    }

    &-amount-ticker, &-price-ticker {
      padding: 10px;
      text-transform: uppercase;
      color: var(--white-color);
    }

    &-date-img {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    &-date-icon {
      width: 24px;
      height: 24px;
      stroke: var(--white-color);
    }

    &-date-svg {
      width: 24px;
      height: 24px;
      stroke: var(--white-color);
    }

    /* stylelint-disable-next-line selector-attribute-quotes */
    &-date-inp[type=datetime-local]::-webkit-calendar-picker-indicator{
      display:none;
    }

    &-add-btn {
      border-radius: 10px;
      padding: 16px 32px;
      width: 100%;
      max-height: 47px;
      font-weight: 600;
      font-size: 15px;
      line-height: 15px;
      color: var(--white-color);
      background-color: var(--green-color);
    }
  }

  &__search-modal {
    position: absolute;
    left: calc(50% - 180px);
    top: 0;
    z-index: 100;
    display: none;
    border-radius: 10px;
    padding: 15px;
    width: 360px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);

    &-title {
      position: relative;
      margin-bottom: 20px;
      color: var(--white-color);
    }

    &-icon {
      position: absolute;
      right: 15px;
      top: 15px;
      width: 24px;
      height: 24px;
      stroke: var(--white-color);
    }

    &-content {
      margin-bottom: 20px;

      &-inp {
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        height: 35px;
        color: var(--white-color);
        background-color: rgba(6, 179, 168, 0.1);

        &::placeholder {
          color: var(--gray-color);
        }
      }
    }

    &-container {
      overflow: scroll;
      max-height: 356px;

    }

    &-list {
      max-height: max-content;
    }

    &-box {
      align-items: center;
      border-radius: 10px;
      padding: 10px;
      color: var(--white-color);
      transition: all .3s ease-in-out;

      @include hover {
        background-color: rgba(6, 179, 168, 0.1);
      }
    }

    &-img {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    &-name {
      margin-right: 5px;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
    }

    &-subname {
      font-size: 12px;
      color: var(--gray-color);
    }
  }
}
